 .header {
    padding: 10px;
     display: flex;
     justify-content: space-between;
     background-color: pink;
     color:blue;
 }

 .footer {
     background-color: silver;
 }

 .container {
     margin: 0px;
 }

 * {
     margin: 0px;
 }

 .menu {
     display: flex;
    
     color:blue;
 }

 .menu li{
    list-style:none;
    margin: 5px;
    
 }
 .menu li a{
    text-decoration: none;
 }
.img{
    display:flex;
}
  .box{
    background-color: yellow;
    margin:10px;
    padding:5px;
    color:blue;
    border:1px solid;
  }