
        .header{
            background-color: orange;
             color:blue;
        }
            .footer{
              background-color:lightblue;
            }
            body{
                margin: 0px;
            }
            .container{
                margin: 0px;
            }
            *{
                margin: 0px;
            }