
        .header{
            padding: 10px;
            display:flex;
            justify-content:space-between;
            background-color: orange;
             color:blue;
        }
            .footer{
              background-color:lightblue;
            }
            body{
                margin: 0px;
            }
            .container{
                margin: 5px;
            }
            *{
                margin: 0px;
            }
            .menu{
                display:flex;
            }